.message__block {
  display: flex;
  margin-bottom: 30px;

  &.own {
    justify-content: flex-end;

    .message__container {
      justify-content: flex-end;
    }

    .message__avatar {
      display: none;
    }

    .message__like {
      right: 0px;
      left: -22px;
      cursor: auto;

      &:hover {
        color: #e6e4e4;
      }

    }

    .message__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;

      &:hover {
        background-color: white;
        opacity: 0.5;
      }

      &-edit {
        &:hover {
          opacity: 1;
          color: #414242;
        }
      }
    
      &-delete {
        &:hover {
          opacity: 1;
          color: #414242;
        }
      }
    }
  }

  &:first-child {
    margin-top: 5px;
  }
}

.message__container {
  display: flex;
  width: 60%;
}

.message__avatar-wrapper {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.message__avatar {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.message__text-wrapper {
  background-color: #e2e3e4;
  padding: 10px 15px;
  border-radius: 4px;
  position: relative;
}

.message__text {
  font-size: 14px;
  text-align: right;
  line-height: 1.2;
  margin-bottom: 3px;
}

.message__bottom-wrapper {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;

  .message__edited {
    margin-right: 5px;
  }
}

.message__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20px;
  width: 20px;
  color: #e6e4e4;
  position: absolute;
  bottom: 10px;
  right: -22px;
  cursor: pointer;

  &:hover {
    color: #e47171;
  }

  &.liked {
    color: #e47171;

    :hover {
      color: #bf5c5c;
    }
  }

  &__counter {
    font-size: 10px;
    color: #727477;
  }
}

.message__actions {
  display: none;
  color: #727477;
  margin-left: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 25px;
  cursor: pointer;

  &-edit {
    margin-right: 10px;
  }
}
