.message-input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  background-color: #eaeaea;
}

.message-input__text {
    width: 50%;
    height: 40px;
    margin-right: 15px;
    resize: none;
}

.message-input__button {
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: gray;
        transition: 0.3s ease;
    }
}
