.user__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(167, 164, 164);
    padding: 10px 5px;
    margin-top: 20px;
}

.user__avatar {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

.user__email {
    background-color: rgb(221, 220, 220);
    padding: 5px 10px;
}

.user__button-block {
    cursor: pointer;
}

.user__button-edit {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 20px;
}

.user__button-delete {
    cursor: pointer;
    padding: 5px 10px;
}